.featureCard {
    display: grid;
    grid-template-columns: repeat(27, 1fr); /* Grille de 27 colonnes */
    grid-template-rows: repeat(9, 1fr); /* Grille de 9 lignes */
    max-width: 530px;
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative; /* Position relative pour que l'overlay puisse fonctionner */
    border-radius: 20px;
    padding: 20px;
}

.featureCard__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(185, 185, 185, 0.6); /* Overlay avec une opacité de 60% */
    backdrop-filter: blur(20px); /* Effet de flou de 20 pixels */
    z-index: 2; /* Positionner l'overlay au-dessus de l'image */
}

.featureCard__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* L'image est sous l'overlay */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featureCard__text {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(27, 1fr); /* Assurer que le texte suit la grille */
    grid-template-rows: repeat(9, 1fr); /* Assurer que le texte suit les lignes */
    z-index: 3; /* Le texte est bien au-dessus du fond */
}

.featureCard__title {
    grid-row: 1 / 4;
    grid-column: 6 / 27; /* Le titre occupe les 5 premières colonnes */
    font-size: 40px;
    font-weight: 400;
    color: rgb(0, 0, 0); /* Le texte est blanc pour être lisible sur l'overlay */
    text-align: right;
}

.featureCard__content {
    grid-row: 9 / 9;
    grid-column: 1 / 20; /* Le contenu occupe les colonnes de 20 à 27 */
    font-size: 24px;
    color: rgb(0, 0, 0); /* Le texte est blanc pour être lisible sur l'overlay */
    text-align: left; /* Le texte est aligné à droite */
}

.featureCard__icon {

    svg {
        transform: rotate(45deg);
        fill: #FF8200;
    }
}